@media all and (max-width:768px) {
	.image-area .ole-area {
	width:100%;
	float:none;
	overflow:hidden;
	margin-top:70px;
	margin-bottom:60px;
	
}

}

@media all and (max-width:650px) {
	.menu-area ul li {
			display:inline;
			margin:0 2px;
		}
	.menu-area ul li a {
			text-decoration:none;
			display:inline-block;
			color:#000000;
			font-size:11px;
			text-transform:capitalize;
			border:1px solid transparent;
			border-radius:30px;
			padding:6px 14px;
			
		}
	.strong-area {
		
		font-size:18px;
		
	}
	.collums-area {
	width:96%;
	float:left;
	overflow:hidden;
	margin:2% 2%;
}
	.some-contents p {
		color:#b3b8c5;
		font-family:'proximanovalight';
		font-size:14px;
		line-height:1.9em;
	}
	
}

@media all and (max-width:600px) {
	.menu-area ul li {
		display:block;
		margin:10px 0;
	}
	.strong-area {
		font-family:'proximanovalight';
		font-size:20px;
		width:none;
		float:none;
	}
	.header-area .menu-area {
		overflow:;
		text-align:center;
		width:100%;
		margin-top:30px;
	}
	.menu-area ul li a {
		text-decoration:none;
		display:inline-block;
		color:#000000;
		font-size:12px;
		text-transform:capitalize;
		border:1px solid transparent;
		border-radius:30px;
		padding:6px 14px;
			
		}
	.design-area {
		overflow:hidden;
		
		width:100%;
		float:none;
		
	}
	.code-area {
		overflow:hidden;
		
		width:100%;
		
		
	}
	.collums-area {
	width:96%;
	float:left;
	overflow:hidden;
	margin:2% 2%;
}



.some-contents p {
		color:#b3b8c5;
		font-family:'proximanovalight';
		font-size:13px;
		line-height:1.9em;
	}
}

@media all and (max-width:414px) {
	.header-area h2 {
		font-family:'proximanovabold';
		font-weight:normal;
		font-size:24px;
		letter-spacing:1px;
		
	}
	.header-area .lorem {
		margin-top:70px;
		overflow:hidden;
	}
	.header-area .icon-area {
		margin-top:190px;
		
	}
	.contents-area {
		overflow:hidden;
		padding:40px 90px;
		display:
	}
	.work-area .collums-area img {
		float:none;
		overflow:hidden;
		width:56px;
		margin-top:10px;
		color:#929292;
		margin-left:23px;
		margin-bottom:10px;
	}
	.work-area .collums-area h4 {
		overflow:hidden;
		margin:0;
		padding-left:20px;
		font-family:'proximanovabold';
		font-weight:normal;
		text-transform:capitalize;
		font-size:15px;
	}
	.work-area .collums-area p {
		overflow:hidden;
		padding-left:20px;
		font-family:'proximanovalight';
		font-size:11px;
		color:#a5a5a5;
		margin-bottom:50px;
	}
	.contents-area .go-area .similar {
		text-decoration:none;
		font-size:11px;
		font-family:'proximanovaregular';
		color:#ffffff;
		padding:8px 28px;
		background:linear-gradient(#56007d,#9c0082);
		border-radius:50px;
		border:1px solid transparent;
		
	}
	.contents-area .go-area .similar:hover {
		color:#000;
		border:1px solid #000000;
		background:none;
		
	}
	
	.angle-left {
		float:left;
		position:relative;
		top:137px;
		
	}
	.angle-left i {
		background-color:#fff;
		color:#000;
		padding:7px 13px;
		font-size:20px;
		border-radius:0 30px 30px 0;
	}
	.angle-left i:hover {
		background-color:#95afc0;
		color:#fff;
		transition:.3s;
	}
	.angle-right {
		overflow:hidden;
		text-align:right;
		position:relative;
		top:137px;
	}
	.angle-right i {
		background-color:#fff;
		color:#000;
		padding:7px 13px;
		font-size:20px;
		border-radius:30px 0 0 30px;
	}
	.angle-right i:hover {
		background-color:#95afc0;
		color:#fff;
		transition:.3s;
	}
	
	.templates-area {
		overflow:hidden;
		background-image:url('images/tmp1.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
		background-position:0 0;
		height:230px;
		width:33.3%;
		float:left;
	}
	.templates-area2 {
		overflow:hidden;
		background-image:url('images/tmp2.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
		background-position:0 0;
		height:230px;
		width:33.3%;
		float:left;
		text-align:center;
	}
	.templates-area2 h4 {
		color:#ffffff;
		font-family:'proximanovabold';
		font-weight:normal;
		margin:0;
		margin-top:40px;
		font-size:14px;
	}
	.templates-area2 p {
		font-family:'proximanovalight';
		color:#ffffff;
		font-size:10px;
		line-height:1.3em;
		margin-bottom:21px;
	}
	.templates-area2 .go-area .similar {
		font-size:11px;
		padding:8px 20px;
	}
	.templates-area2 .go-area .similar:hover {
		color:#ffffff;
		border:1px solid #ffffff;
		
	}
	.templates-area3 {
		overflow:hidden;
		background-image:url('images/tmp3.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
		background-position:0 0;
		height:230px;
		width:33.4%;
		
	}
}

@media all and (max-width:375px) {
	.header-area h2 {
	font-family:'proximanovabold';
	font-weight:normal;
	font-size:22px;
	letter-spacing:1px;
		
	}
	.header-area p {
		color:#000;
		font-family:'proximanovaregular';
		font-size:12px;
		margin-bottom:60px;
	}
		.map-area {
			display:none;
	}
}